@model IEnumerable<ProjectManagement.Models.PHONGBAN>

@{
    ViewBag.Title = "Phòng ban";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Phòng ban</h2>
            <button class="au-btn au-btn-icon au-btn--blue">
                <i class='zmdi zmdi-plus'></i>Thêm
            </button>
        </div>
    </div>
</div>

<div class="row m-t-25">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-earning" id="tb-department">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Địa chỉ trụ sở
                        </th>
                        <th>
                            Trưởng phòng
                        </th>
                        <th>
                            Ngày nhận chức
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                                @Html.DisplayFor(modelItem => item.MaPB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenPB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TRUSO_PHONG.TruSo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayNhanChuc)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MaPB }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MaPB }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MaPB })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tb-department').DataTable();
    });
</script>