@model IEnumerable<ProjectManagement.Models.PHONGBAN>

@{
    ViewBag.Title = "Phòng ban";
}

<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Phòng ban</h2>
            <a href="@Url.Action("Create","Department")">
                <button class="au-btn au-btn-icon au-btn--blue">
                    <i class='zmdi zmdi-plus'></i>Thêm
                </button>
            </a>
        </div>
    </div>
</div>
<hr />
<div class="row m-t-25">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-earning" id="tb-department">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Tên
                        </th>
                        <th>
                            Trưởng phòng
                        </th>
                        <th>
                            Ngày nhận chức
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow">
                            <td>
                                @Html.DisplayFor(modelItem => item.MaPB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenPB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrPhong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayNhanChuc)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Department", new { id = item.MaPB })" class="action-icon">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#tb-department').DataTable();
    });
</script>